@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root {
/* Primary */
--cyan: hsl(193, 38%, 86%);
--green: hsl(150, 100%, 66%);

/* Neutral */
--grayish-blue: hsl(217, 19%, 38%);
--dark-grayish-blue: hsl(217, 19%, 24%);
--dark-blue: hsl(218, 23%, 16%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
  background-color: var(--dark-blue);
}
.container {
  width: 28vw;
  height: 35vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-grayish-blue);
  border-radius: 1.1rem;
  text-align: center;
}


.advice_title {
  font-size: 14px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: var(--green);
  padding-top: 10%;
  padding-bottom: 15px;
}
.advice_text {
  font-size: 25px;
  color: var(--cyan);
}
.non-mobile {
  margin-top: 25px;
}
.mobile {
  display: none;
}


.dice_box {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 67%;
  left: 5%;
  transform: translate(-50%, -50%);
  margin-left: 45%;
  border-radius: 50%;
  background-color: var(--green);
}
.dice_box img {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  bottom: -95vh;
  color: var(--cyan);
}
.attribution a {
  color: var(--green);
}

/*   Media
- Mobile: 375px
- Desktop: 1440px 
*/